<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="media_source_url_formatter">
  <description>PHP CodeSniffer configuration for Drupal.</description>
  <arg name="extensions" value="inc,install,module,php,profile,test,theme,yml"/>

  <rule ref="Drupal" />
  <rule ref="DrupalPractice"/>

  <file>src</file>

  <exclude-pattern>*/tests</exclude-pattern>
</ruleset>
